.highlight-underline {
    border-bottom: 5px solid #8e7cf5;
    padding-bottom: 5px;
}

.play-icon {
    font-size: 18px;
}

::placeholder {
    color: white;
    opacity: 1;
}


@media (max-width: 576px) {
    .circle-1 {

        left: 6% !important;
        /* Adjust position for very small screens */
    }

    .circle-2 {
        left: 4% !important;
        /* Adjust position for very small screens */
    }
}

@media (min-width: 320px) {
    .circle-1 {
        /* display: none !important; */
        left: 2px !important;
        /* Adjust position for very small screens */
    }

    .circle-2 {
        /* display: none !important; */
        left: 2px !important;
        /* Adjust position for very small screens */
    }



    .guide-support-box {
        top: 0 !important;

        right: 0 !important;


    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .circle-1 {
        left: 10% !important;
        /* Adjust for tablets */
    }

    .circle-2 {
        left: 8% !important;
        /* Adjust for tablets */
    }
}

@media (min-width: 768px) and (min-width: 1200px) {
    .circle-1 {
        left: 15% !important;
        /* Adjust for larger screens */
    }

    .circle-2 {
        left: 13% !important;
        /* Adjust for larger screens */
    }
}

@media (min-width: 1300px) {
    .circle-1 {
        left: 27% !important;
        /* Adjust for larger screens */
    }

    .circle-2 {
        left: 25% !important;
        /* Adjust for larger screens */
    }
}


@media (min-width: 320px) and (max-width: 576px) {

    .search-box {

        flex-wrap: wrap;
        width: 100%;


    }
}

.white-placeholder::placeholder {
    color: white !important;
    opacity: 0.5;
}

select.white-placeholder:invalid {
    color: white;
}

.flatpickr-calendar {
    background-color: #191b1d !important;
    border: 1px solid #333 !important;
}

.flatpickr-day,
.flatpickr-weekday {
    color: #fff !important;
}

.flatpickr-day:hover {
    background-color: #444 !important;
}

.flatpickr-day.selected {
    background-color: #8e85e6 !important;
    color: #fff !important;
}

/* Month and Year Header Text */
.flatpickr-current-month {
    color: white !important;
}

/* Month dropdown text */
.flatpickr-monthDropdown-months {
    background-color: #15151e !important;
    color: white !important;
}

/* Year input text */
.flatpickr-current-month input.cur-year {
    color: white !important;
    background-color: transparent !important;
    border: none !important;
}

/* Style the previous and next month navigation arrows */
.flatpickr-prev-month,
.flatpickr-next-month {
    color: white !important;
    fill: white !important;
    /* for SVG icons */
}

/* Optional: change on hover */
.flatpickr-prev-month:hover,
.flatpickr-next-month:hover {
    color: #0d6efd !important;
    /* Bootstrap primary */
    fill: #0d6efd !important;
}

select option:checked {
    background-color: #8e85e6;
    /* Bootstrap primary */
    color: white;
}